@page "/register"
@namespace drugaproba.Pages
@layout drugaproba.Shared.PublicLayout
@inject drugaproba.Services.AuthService Auth
@inject NavigationManager Nav

<h3>Rejestracja</h3>
<input @bind="email" placeholder="Email" />
<input @bind="password" type="password" placeholder="Hasło" />
<button @onclick="DoRegister">Zarejestruj</button>

@code {
    string email = "", password = "";

    async Task DoRegister()
    {
        if (await Auth.Register(new drugaproba.Models.RegisterRequest { Email = email, Password = password }))
            Nav.NavigateTo("/login");
    }
}
